<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.js"></script>
    <link rel="stylesheet" href="/styles/general.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
<%- include /partials/header.ejs %>

<div id="load_screen">
<div id="loading"><img src="/images/ajax-loader.gif" alt="" height="40" width="40"> <strong>Loading Page</strong> </div>
</div>

<table id="organisms" class="table table-striped" width="100%">
        <thead>
            <tr>
                <th>Pathway</th>
                <th>Information</th>
                <th>Pathway Image </th>
            </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < data.length-1; i++) { %>
           <tr>
             <td>
                <a href="#" class="idpath">
               <%= JSON.parse(JSON.stringify(data[i].split("\t")))[0] %>
                </a>
             </td>
             <td>
               <%= JSON.parse(JSON.stringify(data[i].split("\t")))[1] %>
             </td>
             <td>
             <a href="http://rest.kegg.jp/get/<%= JSON.parse(JSON.stringify(data[i].split("\t")))[0].split(":")[1] %>/image" target="_blank"><img src="http://rest.kegg.jp/get/ <%= JSON.parse(JSON.stringify(data[i].split("\t")))[0].split(":")[1] %>/image" alt="" border=3 height=100 width=100></img></a>
             </td>
           </tr>
        <% } %>
        </tbody>
    </table>
<script>

window.addEventListener("load", function(){
var load_screen = document.getElementById("load_screen");
document.body.removeChild(load_screen);
});

$(document).ready(function() {
$('#organisms').DataTable();

} );

var x = document.getElementsByClassName("idpath");
var i;
for (i = 0; i < x.length; i++) {
    var params = x[i].innerText.split(":");
    x[i].href = '/pathway/genes/:' + params[1];
}

</script>
</body>
</html>