<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<%- include /partials/header.ejs %>
<div class="container" style="padding-top:80px; word-wrap:break-word;">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>Entry</strong>: <%= gene.entry %><br>
                        <strong>Name</strong>: <%= gene.name %><br>
                        <strong>Definition</strong>: <%= gene.definition %><br>
                        <strong>Organism</strong>: <%= gene.organism %><br>
                        <strong>Position</strong>: <%= gene.position %><br>
                        <strong>Motif</strong>: <%= gene.motif %><br>
                        <strong>DBlinks</strong>: <%= gene.dblinks %><br>
                        <strong>AAseq</strong>: <%= gene.aaseq %><br>
                        <strong>NTseq</strong>: <%= gene.ntseq %><br>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>