<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/general.css">
    <script src="/scripts/writetofile.js"></script>
    <script src="/scripts/favorites.js"></script>
    <script src="/scripts/FileSaver.js"></script>

</head>
<body>
<%- include /partials/header.ejs %>

<div id="load_screen">
<div id="loading"><img src="/images/ajax-loader.gif" alt="" height="40" width="40"> <strong>Loading Page</strong> </div>
</div>

<div class="container" style="padding-top:80px; word-wrap:break-word;">
    <div class="col-sm-12">
        <div class="col-sm-6">
        <h3 class="text-center"><span class="fa fa-info"></span> KEGG Gene Information </h3>
        <p>
            <%for (var i=0; i<gene.length-2;i++){ %>
                <strong><%=gene[i]%></strong>: <%= gene2[i]  %><br>
            <% } %>
        </p>
        </div>
        <%if (typeof geneNCBI != 'undefined') { %> 
        <div class="col-sm-6">
        <h3 class="text-center"><span class="fa fa-info"></span> NCBI Gene Information </h3>
        <p> 
            <%if (geneNCBI.DbBuild != null) { %>
                <strong>Db Build</strong>: <%= geneNCBI.DbBuild %><br>
            <% } %>
             <%if (geneNCBI.Name != null) { %>
                <strong>Name</strong>: <%= geneNCBI.Name %><br>
            <% } %>
            <%if (geneNCBI.Description != null) { %>
                <strong>Description</strong>: <%= geneNCBI.Description %><br>
            <% } %>
            <%if (geneNCBI.Status != null) { %>
                <strong>Status</strong>: <%= geneNCBI.Status %><br>
            <% } %>
            <%if (geneNCBI.CurrentID != null) { %>
                <strong>Current ID</strong>: <%= geneNCBI.CurrentID %><br>
            <% } %>
            <%if (geneNCBI.Chromosome != null) { %>
                <strong>Chromosome</strong>: <%= geneNCBI.Chromosome %><br>
            <% } %>
            <%if (geneNCBI.GeneticSource != null) { %>
                <strong>Genetic Source</strong>: <%= geneNCBI.GeneticSource %><br>
            <% } %>
            <%if (geneNCBI.MapLocation != null) { %>
                <strong>Map Location</strong>: <%= geneNCBI.MapLocation %><br>
            <% } %>
            <%if (geneNCBI.OtherAliases != null) { %>
                <strong>Other Aliases</strong>: <%= geneNCBI.OtherAliases %><br>
            <% } %>
            <%if (geneNCBI.OtherDesignations != null) { %>
                <strong>Other Designations</strong>: <%= geneNCBI.OtherDesignations %><br>
            <% } %>
            <%if (geneNCBI.NomenclatureSymbol != null) { %>
                <strong>Nomenclature Symbol</strong>: <%= geneNCBI.NomenclatureSymbol %><br>
            <% } %>
            <%if (geneNCBI.NomenclatureName != null) { %>
                <strong>Nomenclature Name</strong>: <%= geneNCBI.NomenclatureName %><br>
            <% } %>
            <%if (geneNCBI.NomenclatureStatus != null) { %>
                <strong>Nomenclature Status</strong>: <%= geneNCBI.NomenclatureStatus %><br>
            <% } %>
            <%if (geneNCBI.int != null) { %>
                <strong>Int</strong>: <%= geneNCBI.int %><br>
            <% } %>
            <%if (geneNCBI.ChrLoc != null) { %>
                <strong>ChrLoc</strong>: <%= geneNCBI.ChrLoc %><br>
            <% } %>
            <%if (geneNCBI.ExonCount != null) { %>
                <strong>Exon Count</strong>: <%= geneNCBI.ExonCount %><br>
            <% } %>
            <%if (geneNCBI.GeneWeight != null) { %>
                <strong>Gene Weight</strong>: <%= geneNCBI.GeneWeight %><br>
            <% } %>
            <%if (geneNCBI.Summary != null) { %>
                <strong>Summary</strong>: <%= geneNCBI.Summary %><br>
            <% } %>
            <%if (geneNCBI.ChrSort != null) { %>
                <strong>ChrSort</strong>: <%= geneNCBI.ChrSort %><br>
            <% } %>
            <%if (geneNCBI.ScientificName != null) { %>
                <strong>Scientific Name</strong>: <%= geneNCBI.ScientificName %><br>
            <% } %>
            <%if (geneNCBI.CommonName != null) { %>
                <strong>Common Name</strong>: <%= geneNCBI.CommonName %><br>
            <% } %>
            <%if (geneNCBI.TaxID != null) { %>
                <strong>Tax ID</strong>: <%= geneNCBI.TaxID %><br>
            <% } %>
        </p>
        </div>
        <% } else{%>
            <div class="col-sm-6" style="text-align:center">
             <h3><span class="fa fa-info"></span> NCBI Gene Information </h3>
             <strong class="text-center">No NCBI Information available for this gene! :(</strong><br>
        <% } %>
    </div>

    <div class="col-sm-12" style="text-align:center">
     <button type="button" class="btn btn-success buttonCss" onclick="WriteToFile( '<%= JSON.stringify(gene) %>' , '<%= JSON.stringify(gene2).replace(/'/g, "\\'") %>')"> Download KEGG</button>

     <%if (typeof user != 'undefined') { %> 
     <a href="/addFavorites/:<%= id %>/:<%= specie %>" class="btn btn-primary buttonCss"> Add to Favorites</a>
     <% } %>

     <%if (typeof geneNCBI != 'undefined') { %> 
          <%if (geneNCBI.Name != 'undefined') { %> 
         <button type="button" class="btn btn-success buttonCss" onclick="WriteToFileNCBI('<%= JSON.stringify(geneNCBI.Name) %>', '<%= JSON.stringify(geneNCBI).replace(/'/g, "\\'") %>')"> Download NCBI</button>
          <% } %>
    <% } %>
    </div>
   

<script>
window.addEventListener("load", function(){
  var load_screen = document.getElementById("load_screen");
  document.body.removeChild(load_screen);
});
</script>
</body>

</html>
