<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
<%- include /partials/header.ejs %>
<div class="container" style="padding-top:80px; word-wrap:break-word;">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3 class="text-center"><span class="fa fa-info"></span> Gene Information </h3>

                    <p> 
                        <%if (gene.entry != null) { %>
                            <strong>Entry</strong>: <%= gene.entry %><br>
                        <% } %>
                         <%if (gene.name != null) { %>
                            <strong>Name</strong>: <%= gene.name %><br>
                        <% } %>
                        <%if (gene.definition != null) { %>
                            <strong>Definition</strong>: <%= gene.definition %><br>
                        <% } %>
                        <%if (gene.organism != null) { %>
                            <strong>Organism</strong>: <%= gene.organism %><br>
                        <% } %>
                        <%if (gene.position != null) { %>
                            <strong>Position</strong>: <%= gene.position %><br>
                        <% } %>
                        <%if (gene.motif != null) { %>
                            <strong>Motif</strong>: <%= gene.motif %><br>
                        <% } %>
                        <%if (gene.dblinks != null) { %>
                            <strong>DBlinks</strong>: <%= gene.dblinks %><br>
                        <% } %>
                        <%if (gene.aaseq != null) { %>
                            <strong>AAseq</strong>: <%= gene.aaseq %><br>
                        <% } %>
                        <%if (gene.ntseq != null) { %>
                            <strong>NTseq</strong>: <%= gene.ntseq %><br>
                        <% } %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>